/* О нас */
.title_h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.about-us-container_beginner-screen_content {
    width: 70%;
}

.about-us-container_beginner-screen_content__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-us-container_beginner-screen_content__row_image-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.about-us-container_beginner-screen_content__row span {
    display: block;
    width: 55%;
    text-align: justify;
    margin: 10px 0px;
}

.about-us-container_beginner-screen_content__row_image-block img {
    width: auto;
    height: 90px;
    margin: 10px 0px;
}

@media screen and (max-width:500px) {
    .about-us-container_beginner-screen_content__row_image-block img {
        width: 150px;
        height: auto;
        margin: 10px 0px;
    }
}

.about-us-container_information__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-container_information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 10px 50px;
}

.about-us-container_information h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.about-us-container_information span{
    display: block;
    text-align: justify;
    padding: 10px;
}

.about-us-container_information b{
    text-transform: uppercase;
}

/* Видео о нас */
.abuot-us-container_video h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.abuot-us-container_video_component {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Сертефикаты */
.about-us-container_serteficates h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.about-us-container_serteficates span {
    display: block;
    width: 30%;
    margin: auto;
}

.about-us-container_serteficates_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.about-us-container_serteficates_images img {
    width: 200px;
}

/* Наши партнёры */
.about-us-container_our-partners h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.about-us-container_our-partners span {
    display: block;
    text-align: center;
    padding: 20px;
}

.about-us-container_our-partners_contaiiner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}