/* Видео плеер */
.video-player_container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    padding: 20px;
}

.video-player_item{
    width: 250px;
    height: auto;
}

.video-player_item video{
    width: 100%;
}