/* Стили "Подвала" */
footer {
    width: 100%;
    padding: 20px 0px;
    background: #bbb;
}

footer h1 {
    font-size: 30px
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Изображение */
.footer-content_img {
    width: auto;
    padding: 5px 20px;
}

.footer-content_img img {
    width: 200px;
}

/* Ссылки на соц-сети */
.footer-content_contacts {
    display: flex;
    align-items: center;
}

.footer-content_contacts a {
    display: block;
}

.footer-content_contacts img {
    width: 30px;
    margin: 10px;
    transition: 0.5s all;
}

.footer-content_contacts img:active {
    transform: scale(1.3);
}

/* Общие контакты */
.footer-content_communication__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
}

.footer-content_communication___icon img {
    width: 20px;
    margin-right: 5px;
}


.footer-content_communication__contacts a {
    display: flex;
    padding: 5px;
    transition: 1s all;
}

.footer-content_communication__contacts a:visited {
    color: #000;
}

.footer-content_communication__contacts a:hover {
    color: #fff;
}

.footer-content_communication__contacts a:active {
    transform: scale(1.2);
}

/* Водяной знак */
footer span {
    display: block;
    text-align: center;
    padding-top: 5px;
}

footer span a {
    text-decoration: transparent;
}