/* Боковое меню */
.slide-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
    border-radius: 15px;
    margin: 10px 15px;
}

.slide-menu-container a {
    display: block;
    width: 100%;
    padding: 15px;
    background: #fff;
    color: #000;
    border-bottom: 1px solid #000;
    transition: 0.5s all;
}

.slide-menu-container a:visited{
    color: #000;
}

.slide-menu-container a:hover{
    background: #606164;
    color: #fff;
}

.slide-menu-container a:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.slide-menu-container a:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
