/* О нас */
.about-us-container_beginner-screen_content {
    width: 70%;
}

.about-us-container_beginner-screen_content__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.about-us-container_beginner-screen_content__row_image-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.about-us-container_beginner-screen_content__row_image-block img {
    width: 150px;
    height: auto;
    margin: 10px 0px;
}

.about-us-container_beginner-screen_content__row span {
    display: block;
    width: 75%;
    text-align: justify;
    padding-left: 10px;
    margin: 10px 0px;
}

.about-us-container_serteficates h1 {
    text-align: center;
}

.about-us-container_serteficates span{
    display: block;
    width: 30%;
    margin: auto;
}

.about-us-container_serteficates_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.about-us-container_serteficates_images img {
    width: 200px;
}