/* BerlinType */
@font-face {
    font-family: 'BerlinTypeBold';
    src: url('../fonts/BerlinType/BerlinType-Bold.otf');
}

@font-face {
    font-family: 'BerlinType';
    src: url('../fonts/BerlinType/BerlinType-Regular.otf');
}

/* Concrete */
@font-face {
    font-family: 'Concrete';
    src: url('../fonts/Concrete/Concrete-Regular.otf');
}

/* fram */
@font-face{
    font-family: 'fram';
    src: url("../fonts/framd/framd.otf");
}

/* Segoe_WP_light */
@font-face{
    font-family: 'Segoe_WP_light';
    src: url("../fonts/segoe-wp/Segoe_WP_SemiLight/Segoe_WP_SemiLight.ttf");
}
