/* Услуги */
.services-container_beginner-screen_assortiment {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services-container_beginner-screen_assortiment_item {
    width: 200px;
    height: auto;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 10px;
    transition: 1s all;
}

.services-container_beginner-screen_assortiment_item:hover{
    background: #666;
    color: #fff;
    cursor: pointer;
}

.services-container_beginner-screen_assortiment_item img {
    width: 100%;
}

.services-container_beginner-screen_assortiment_item h3{
    text-align: center;
    margin: 5px;
}